.canvas {
    height: 600px;
    width: 600px;
    background-color: rgba(0, 145, 234, 1);
    position: relative;
}

.sidepanel {
    height: 600px;
    width: 250px;
    background-color: #a6c;
}

.shape {
    position: absolute;
}

#square {
    background-color: red;
    opacity: 0.75;
}

#rectangle {
    background-color: green;
    opacity: 0.75;
}

#circle {
    background-color: purple;
    opacity: 0.75;
    border-radius: 50%;
}

#triangle {
    opacity: 0.75;
}

.custom {
    background-color: #ec407a!important;
    color: white;
}

.bg-blue {
    background-color: #303f9f!important;
}